/* Colors */
:root {
  --main-color:#00BFB1;
  --main-color-hover: #01e4d1;
  --main-black-color: #030125;
  --main-white-color: #ffffff;
  --main-gray-color: #A2A9A8;
  --main-white-opacity-color: #ffffffdf;
  --main-color-dark: #67ddd3;
  --main-color-gold: #E8A00C;
  --main-color-gray-light: #959595;
  --main-color-gray-dark: #646464;
}

/* Gradient */
:root{
  --main-gradient: linear-gradient(to top right, #00BFB1,#1FE2D2);
  --main-gradient-hover: linear-gradient(to top right, #00BFB1,#17E4BF);
  --main-gradient-black: linear-gradient(104deg, rgba(3, 1, 37, 0.85), rgba(5, 0, 42, 0.90));
  --main-gradient-white: linear-gradient(104deg, rgba(233, 233, 233, 0.75), rgba(255, 255, 255, 0.77));
}

/* Font Sizes */
:root {
  --font-xs: 10px;
  --font-s: 15px;
  --font-m: 22px;
  --font-l: 45px;
  --font-xl: 50px;
}


/* -------------------------------------------------------------------------
------------------------------------------------------------------------- */


/* Block */
.hero {
  position: relative;
  width: 100%;
}

img{
  max-width: -webkit-fill-available;
}

.overlay__wrapper{
  background: linear-gradient(90deg, rgba(3, 1, 37, 0.90), rgba(5, 1, 42, 0.43));
}

.overlay{
  background-image: url("https://s3.us-west-2.amazonaws.com/stutern/sga3/sga-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top bottom;
  width: 100%;
  }


.hero__card {
  background-color: none;
  text-align: left;
  width: 100%;  
  padding: 0 10%;
  color: var(--main-white-color);
}

.overlay--center{
  background-image: url("https://s3-us-west-2.amazonaws.com/stutern/sga3/daniil-kuzelev-428715-unsplash-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left bottom;
  position: relative;
}

.hero__card--center {
  background-image: var(--main-gradient-black);
  text-align: center;
  width: 100%;  
  padding: 4% 0;
}

hr{
  border-color: #ffffff;
  margin: 0 40%;
}

/* -------------------------------------------------------------------------
------------------------------------------------------------------------- */


/* Element */
p,a,.subbody2,.body1,.subheading2,.subbody1,.subbody3,.subbody4,.header1,.header2,.body3,.subheader1,.body2{
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.6px;
  margin-bottom: 0;
}

.video{
  width: 100%;
  /* text-align: center;   */
}

.video:hover{
  opacity: .8;
}

.videocontent{
  width: 20px;
  margin-right: 10px;
}

.videofont{
  font-weight: 700;
  font-size: var(--font-xs);
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;  
  line-height: normal;
  color: var(--main-black-color);
}
.videofont:hover{
  font-weight: 700;
  color: var(--main-black-color);
}

.sga-logo {
  width: 50%;
  margin-left: 10%;
}

.sga-logo--footer {
  width: 40%;
}

a:hover{
  color: var(--main-white-color);
}

.turquoise:hover{
  color: var(--main-black-color);
}

.apply_button a{
  text-decoration: none;
}

p{
  width: 100%;
}

.subbody4{
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;  
  line-height: normal;
}

.subbody2{
  font-size: var(--font-s);
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;  
  line-height: 22.5px;
}

a,
.links {
  color: var(--main-white-color);
}

/* Headings Typography */
.header1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: var(--main-white-color);
}

.italcise{
  font-style: italic;
}

.gold{
  color: var(--main-color-gold);
}

.gray-light{
  color: var(--main-color-gray-light);
}

.gray-dark{
  color: var(--main-color-gray-dark);
}

.lato{
  font-family: 'Lato', sans-serif;
}

.header2 {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-m);
  font-weight: 700;
  line-height: normal;
  color: var(--main-color);
}

.subheader1 {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-m);
  font-weight: 700;
  line-height: normal;
  color: var(--main-color);
}

.subheading2 {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-s);
  font-weight: 700;
  line-height: normal;
  color: var(--main-black-color);
}

/* Body Typography */
.body1{
  font-size: var(--font-l);
  color: var(--main-white-color);  
  font-weight: 700; 
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;  
  line-height: normal;
}

.body2 {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-s);
  font-weight: 400;
  line-height: 1.43;
  color: var(--main-gray-color);
}

.body3 {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-s);
  font-weight: 400;
  line-height: 22px;
  color: var(--main-gray-color);
}

.subbody1 {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-s);
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-black-color);
}

.subbody3{
  font-size: var(--font-xs);
  color: var(--main-gray-color);  
}

.card__process {
  background-color: var(--main-white-color);
}

.process__icon{
  display: none;  
}

.process{
  width: 100%;
  display: inline-flex;   
}

.testimonial__card{
  background-image: var(--main-white-color);
  box-shadow: 10px 10px 20px 0 rgba(36, 51, 50, 0.03), -10px 10px 30px 0 rgba(45, 59, 58, 0.05);
  width: 99%;
}

.testimonial__image{
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.testimonial__icon-holder {
  align-content: center;
  background: var(--main-white-color);
  border-radius: 100%;
  display: grid;
  justify-content: center;
  height: 130px;
  margin: 0 auto;
  width: 130px;
}

.testimonial__icon{
  height: 30px;
  width: 60px;
}

.card__icon{
  width: 100%;
  height: 50px;
}

.card__icon_testimonial{
  height: 50px;
}


.payment__card{
  background-image: var(--main-white-color);
  box-shadow: 10px 10px 20px 0 rgba(36, 51, 50, 0.03), -10px 10px 30px 0 rgba(45, 59, 58, 0.05);
  padding: 10%;
  width: 99%;
}

.payment__title {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.payment__icon{
  display: inline-block;
  width: 15%;
  vertical-align: middle;
}

.payment__links {
  color: var(--main-color);
  text-decoration: none;
}

.numbers {
  width: 100%;
}

.footer {
  background: rgba(0, 215, 196, 0.06);
  padding: 5% 0 2% 0;
}

.footer__deadline {
  display: inline-block;
  margin-right: 16px;
  text-align: center;
}

.footer__divider {
  background-color: var(--main-color);
  display: block;
  height: 1px;
  width: 100%;
}

/* -------------------------------------------------------------------------
------------------------------------------------------------------------- */

/* Modifier */

.btn{
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 20%;
  text-transform: uppercase;  
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;  
}

.btn--bordered {
  background: var(--main-white-color);
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0 rgba(36, 51, 50, 0.03), -10px 10px 30px 0 rgba(45, 59, 58, 0.05);
  color: var(--main-color);
  cursor: pointer;
  text-transform: uppercase;  
}

.btn--bordered:hover {
  box-shadow: 5px 5px 6px 0 rgba(125, 179, 176, 0.45), -10px 10px 30px 0 rgba(163, 204, 201, 0.15);
}

.btn--turquoise {
  background-image: var(--main-gradient);
  color: var(--main-white-color);
  box-shadow: 10px 10px 20px 0 rgba(125, 179, 176, 0.45), -10px 10px 30px 0 rgba(163, 204, 201, 0.15);
}

.btn--white {
  background-color: var(--main-white-color);
  color: var(--main-color);
  box-shadow: 10px 10px 20px 0 rgba(36, 51, 50, 0.13), -10px 10px 30px 0 rgba(45, 59, 58, 0.15);
}

.btn--white a{
  color: var(--main-color);
  text-decoration: none;
}

.btn--white:hover{
  color: var(--main-color);
}

.btn--turquoise:hover {
  background-image: var(--main-gradient-hover);
  box-shadow: 5px 5px 6px 0 rgba(125, 179, 176, 0.45), -10px 10px 30px 0 rgba(163, 204, 201, 0.15);
}
.btn--turquoise:focus {
  background-image: var(--main-gradient-hover);
  box-shadow: 5px 5px 6px 0 rgba(125, 179, 176, 0.45), -10px 10px 30px 0 rgba(163, 204, 201, 0.15);
}
.btn--turquoise:disabled {
  background-image: var(--main-gradient-hover);
}


.btn--white:hover {
  background-image: var(--main-gradient-white);
}
.btn--white:focus {
  background-image: var(--main-gradient-white);
}
.btn--white:disabled {
  background-image: var(--main-gradient-white);
}


/* Margin */
.margin--bottom--X1 {
  margin-bottom: 1%;
}
.margin--bottom--X2 {
  margin-bottom: 4%;
}
.margin--bottom--X3 {
  margin-bottom: 8%;
}
.margin--bottom--X4 {
  margin-bottom: 16%;
}
.margin--top--X1 {
  margin-top: 1%;
}
.margin--top--X2 {
  margin-top: 4%;
}
.margin--top--X3 {
  margin-top: 8%;
}
.margin--top--X4 {
  margin-top: 16%;
}

@media (min-width: 1200px) {
  .margin--bottom--X1 {
    margin-bottom: 1%;
  }
  .margin--bottom--X2 {
    margin-bottom: 2%;
  }
  .margin--bottom--X3 {
    margin-bottom: 4%;
  }
  .margin--bottom--X4 {
    margin-bottom: 8%;
  }
  .margin--top--X1 {
    margin-top: 1%;
  }
  .margin--top--X2 {
    margin-top: 2%;
  }
  .margin--top--X3 {
    margin-top: 4%;
  }
  .margin--top--X4 {
    margin-top: 8%;
  }
}

/* align */
.center{
  text-align: center;
}

.white {
  color: var(--main-white-color);
}

.turquoise {
  color: var(--main-color);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* -------------------------------------------------------------------------
------------------------------------------------------------------------- */


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .left{
    text-align: left;
  }

  .sga-logo {
    margin-left: 0;
    width: 43%;
  }
  
  /* Block */
  .hero__card{
    float: right;
    max-width: 55%;
    display: block;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--main-white-color);
    padding: 0% 4%;
    color: var(--main-black-color);
  }

  .overlay__wrapper{
    height: 100vh;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  .overlay--center{
    width: 100vw;
  }

  .hero__card--center {
    background-color: var(--main-white-opacity-color);
    text-align: center;
    width: 100%;  
    padding: 4% 0;
  }

  .btn--turquoise{
    padding: 24px 15%;
  }

  .btn--white{
    padding: 20px 6%;
  }

  .subheading2 {
    font-size: var(--font-m);
    font-weight: 400;
  }
  
  .header1 {
    font-size: var(--font-xl);
    font-weight: 700;
    color: color: var(--main-black-color);
  }
  
  .subbody1 {
    font-weight: 700;
    line-height: 1.5;
  }

  .header2{
    font-size: var(--font-l);
  }
  
  .body3 {
    font-size: var(--font-s);
    font-weight: 400;
  }

  .bitmap--tutors{
    width: 60%;
  }
  
  .process__icon{
    min-width: 50px;
    max-width: 100px;
    display: block;
  }
}

/* Hero 3 */
.overlay--tuition-bg {
  background-image: url("../images/tution-bg.png")
}

.overlay--numbers-bg {
  background-image: url("../images/pattern.png");
  width: 100%;
  background-size: contain;
  background-repeat: initial;
  background-attachment: scroll;
  background-position: left bottom;
  position: relative;
}
